@model Foundation.Entity.CustomerSearchModel
@using Genesys.Extensions
@using Foundation.WebApp

<div class="genesys-box">
    <section id="CustomerSearchForm">
        <h4 class="genesys-box-title">Find a Customer</h4>
        @using (Html.BeginForm(CustomerSearchController.SearchAction, CustomerSearchController.ControllerName, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.Label("ID", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBox("ID", Model.ID, new { @id = "txtID", @class = "form-control", @Value = Model.ID == TypeExtension.DefaultInteger ? TypeExtension.DefaultString : Model.ID.ToString(), @placeholder = "Customer ID" })
                    @Html.ValidationMessageFor(m => m.ID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("First Name", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBox("FirstName", Model.FirstName, new { @id = "txtFirstName", @class = "form-control", @placeholder = "Customer First Name" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Last Name", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.TextBox("LastName", Model.LastName, new { @id = "txtLastName", @class = "form-control", @placeholder = "Customer Last Name" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="genesys-text-right col-sm-offset-6 col-sm-6">
                    <button id="btnSearchServer" type="submit" class="btn btn-primary">Search (Server-Side)</button>
                    <button id="btnSearchClient" type="button" class="btn btn-primary">Search (Client-Side)</button>
                </div>
            </div>
        }
        <div id="divSearch" class="genesys-spacer-all">
            @Html.Partial("~/Views/CustomerSearch/CustomerSearchResults.cshtml", Model.Results)
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#btnSearchClient').on('click', function () {
            $.ajax({
                url: '@Url.Action(CustomerSearchController.SearchResultsAction, CustomerSearchController.ControllerName)',
                type: 'POST',
                dataType: 'text',
                data: { ID: $("#txtID").val(), FirstName: $("#txtFirstName").val(), LastName: $("#txtLastName").val() },
                success: function (data) {
                    $('#divSearch').html(data);
                }
            })
        });
    </script>
}
