@model Framework.Entity.CustomerModel
   @using Genesys.Extensions
@using Framework.WebApp

<div class="genesys-box">
    <section id="CustomerSummary">
        <h4 class="genesys-box-title">Customer Summary</h4>
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, "First Name", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.LabelFor(m => m.FirstName, Model.FirstName, new { @class = "control-label", @placeholder = "Customer first name" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, "Last Name", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.LabelFor(m => m.LastName, Model.LastName, new { @class = "control-label", @placeholder = "Customer last name" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BirthDate, "Birth Date", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.LabelFor(m => m.BirthDate, Model.BirthDate == TypeExtension.DefaultDate ? TypeExtension.DefaultString : Model.BirthDate.ToString("MM/dd/yyyy"), new { @class = "control-label BirthDate", type = "date" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GenderID, "Gender", new { @class = "col-sm-3 control-label" })
                <div class="col-sm-9">
                    @Html.LabelFor(m => m.GenderID, Model.GenderSelections().Where(y => y.Key == Model.GenderID).FirstOrDefault().Value ?? "Not Selected", new { @class = "control-label Gender" })
                </div>
            </div>
            <div class="form-group">
                <div class="genesys-text-right col-sm-12">
                    <button type="button" id="btnEdit" class="btn btn-primary" onclick="window.location.href='@Url.Action(CustomerController.EditAction, CustomerController.ControllerName, new { id = Model.ID })'">Edit</button>
                    <button type="button" id="btnDelete" class="btn btn-primary" onclick="window.location.href='@Url.Action(CustomerController.DeleteAction, CustomerController.ControllerName, new { id = Model.ID })'">Delete</button>
                </div>
            </div>
        </div>
    </section>
</div>